@value sizeImg: 150px;

.item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: sizeImg;
  height: sizeImg;

  border: 2px solid gray;
  border-radius: 10px;

  & > img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &:hover > button {
    opacity: 1;

    transition: opacity 0.3s;
  }

  & > button {
    opacity: 0;

    position: absolute;
    top: -2px;
    right: -2px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    border: none;
    border-radius: 10px;

    background-color: red;
    color: white;
    cursor: pointer;
  }
}
